@font-face {
  font-family: "OPTIBankGothic-Light" ;
  src: url("fonts/OPTIBankGothic-Light.otf") format("opentype");
}

@font-face {
  font-family: "actionmen1_1";
  src: url(fonts/actionmen1_1.ttf) format("truetype");
}

@font-face {
  font-family: "xfighters";
  src: url(fonts/xfighters.ttf) format("truetype");
}

@font-face {
  font-family: "actionwomen";
  src: url("fonts/actionwomen.ttf") format("truetype");
}

body {
  font-family: "OPTIBankGothic-Light";
  background-color: whitesmoke;
  background-image: url("https://static.vecteezy.com/system/resources/thumbnails/000/241/296/original/beautiful-colorful-comic-book-background-illustration.jpg");
}

p {
  font-family: "OPTIBankGothic-Light";
}
